* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(207, 207, 223, 1) 0%,
    rgba(234, 235, 61, 1) 97%
  );
}

header {
  width: 100%;
  margin: 0 auto;
  background: #1e2231;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-size: 1.5rem;
  }

  span {
    font-size: 0.7rem;
    font-weight: bold;
    color: gray;
  }

  .nav-bar {
    width: 28%;
    display: flex;
  }

  .nav-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-bar ul li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .nav-bar__middle {
    width: 50%;
    align-self: flex-end;
  }

  .nav-bar__middle ul li {
    font-size: 0.6rem;
    font-weight: bold;
    align-self: flex-end;
  }

  .nav-bar__middle ul li a {
    color: #acb1bd;
  }
}

.drop-down,
.toggle-button {
  display: none;
}

.grid-container {
  max-width: 90.8%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;

  .check {
    padding: 0.7rem;
    background: #ffffff;
  }

  .item-link {
    display: block;
    color: rgb(61, 61, 243);
    text-decoration: none;
  }

  .container-heading {
    font-size: 1rem;
    background: #ffffff;
    color: black;
    padding: 0.5rem;
  }
  div img {
    width: 100%;
  }

  .box {
    grid-column-start: span 4;
    justify-self: center;
    padding: 5rem;
    width: 84%;
    text-align: center;
    background: palevioletred;
  }
}

.content {
  width: 40%;
  margin: 5rem auto 10rem auto;
  grid-column-start: span 4;
  justify-self: center;
  color: black;
  font-weight: bold;
  line-height: 1.5;

  h2,
  p {
    color: black;
  }
}

.recommendation {
  grid-column-start: span 4;
  justify-self: center;
  width: 98.65vw;
  text-align: center;
  background: white;
  padding: 3rem;

  button {
    color: black;
    padding: 0.4rem 5rem;
    border-radius: 4px;
    background-image: linear-gradient(
      to right,
      #ffb347 0%,
      #ffcc33 51%,
      #ffb347 100%
    );
    cursor: pointer;
    border-style: none;
    -webkit-appearance: none;
  }

  .back-to-top {
    background-color: #23252c;
    padding: 1rem;
    text-align: center;
    font-size: 0.7rem;
  }

  .back-to-top a {
    text-decoration: none;
  }
}

footer {
  background-color: #000000;
  color: white;
  font-size: 0.6rem;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .f-heading {
    font-size: 0.8rem;
    font-weight: bold;
  }

  ul li {
    list-style: none;
    margin-bottom: 0.7rem;
  }

  ul li a {
    text-decoration: none;
  }
}

/*this is class for js*/
.effect {
  display: none;
}

@media (max-width: 1000px) {
  header .nav-bar,
  header .nav-bar__middle {
    display: none;
  }

  .toggle-button {
    display: inline-block;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;

    &:focus {
      outline: none;
    }
  }

  .toggle-button__bar {
    width: 70%;
    height: 0.3rem;
    background: rgb(92, 85, 85);
    display: block;
    margin: 0.3rem 0;
  }

  /*Mobile Nav Bar*/

  .drop-down {
    background: #1e2231;

    .mobile-nav__bar {
      margin-bottom: 1rem;
      padding: 0 0 1rem 1rem;
    }

    .mobile-nav__bar li {
      list-style: none;
    }

    .mobile-nav__bar ul li a {
      text-decoration: none;
      color: #585b62;
    }
  }

  .hide {
    opacity: 0;
    transform: translateX(-30rem);
    height: 0;
  }

  .effect {
    transition: cubic-bezier(0.6, 0.11, 0, 0.94) 0.4s;
    display: block;
  }

  /*Mobile Nav Bar End*/

  .content {
    width: 100%;
    margin: 3rem auto 7rem auto;
  }

  .grid-container {
    display: block;
    .check {
      margin-top: 1rem;
    }
  }

  .box {
    margin: 1rem auto;
  }

  .recommendation {
    margin: 0 auto;
    width: 100%;
  }
}
